<h3>
  I felt the need to build something with a chronoligcal list of "significant"
  events that have happened during this year, something tells me that this year
  will go down in history as the year that " Anything that can go wrong will go
  wrong" as Murphy's law states. <br />I plan on rebuilding this later and turn
  it into a fullstack project, some few things I want to implement is include a
  search function, build a timeline that I find is more appealing to the user
  and have atleast 365 news articles.
</h3>
